:root{
--main-color:#E9EC49;
--secondary-color:#142D47;
--accent-color:#6C63FF;
--heading-font-family:'Playfair Display', serif;
--default-font-family:'Poppins', sans-serif;
}

body{
    font-family: var(--default-font-family);
    background-color: var(--secondary-color);
}
.hero, .about-me-info{
    background-color: var(--main-color);
    text-align: center;
    padding: 160px 20px;
}

.hero p{
    font-size: 36px;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0;
}

.hero h1{
    font-family: var(--heading-font-family);
    font-size: 96px;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0;
}

.about-me-info h1{
    font-family: var(--heading-font-family);
    font-size: 62px;
    font-weight: bold;
    color: var(--secondary-color);
    margin: 0;
    text-align: left;
}

.hero h3{
    font-size: 24px;
    color: var(--secondary-color);
    margin: 24px auto 44px auto;
}

.btn-branding{
    background-color: var(--accent-color);
    color: white;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    padding: 18px 48px;
}

.btn-branding-outline{
    color:var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 30px;
    margin-top: 34px;
}

.btn-branding:hover {
    color:var(--accent-color);
background-color: var(--main-color);
    border-color: var(--accent-color);
  }

  .btn-branding-outline:hover{
    color:var(--main-color);
    background-color: var(--secondary-color);
        border-color: var(--main-color);
  }
.container p{
    color:white;
}
.about-me-info p{
    color: var(--secondary-color);
    font-size: 20px;
    text-align: left;
    margin-top: 32px;
}

.button-about-me{
    float: left;
    margin: 24px auto 38px auto;
}

h2{
    font-family: var(--heading-font-family);
    font-size: 64px;
    font-weight: bold;
    color: var(--main-color);
}

.header{
    color:var(--main-color);
    margin: 68px 0;
}

.weather-description{
margin-right: 20px;
}

    .portfolio-description,
    .landing-description{
      margin-left: 20px;  
    }

    .img-block-project{
        margin-bottom: 60px;
    }

@media (max-width: 1200px) {
    h2 {
      font-size: 40px;}
      .container p{
        font-size: 16px;
    }
  
    }

    @media (max-width: 991px) {
    .btn-branding-outline{
        margin-top: 5px;
        font-size: 14px;
        font-weight: 500;
        padding: 10px 20px; 
    }
    .about-me-info p {
        text-align: center;
    }

    .about-me-info h1 {
        text-align: center;
        font-size: 50px;
    }

    .button-about-me{
        float: none;
    }
}
 
@media (max-width: 767px) {
    h2 {
      font-size: 50px;
      text-align: center;
    }
    
    .img-block-project{
        display: none;
    }

    .btn-branding-outline{
        display: block;
        margin: 30px auto 60px auto
    }

    .weather-description,
    .portfolio-description,
    .landing-description
    {
margin: 0;
    }
    .container p{
    text-align: center;
}  
.hero h1{  
    font-size: 76px;   
}
} 
